<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="journal-indexer.ZPM">
    <Module>
      <Name>journal-indexer</Name>
      <Version>0.3.0</Version>
      <Description></Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.journalindexer.PKG"/>
      <Invoke Class="dc.journalindexer.services.Config" Method="Initialize"></Invoke>
      <UnitTest Name="/" Package="tests.dc.journalindexer" Phase="test"/>
    </Module>
  </Document>
</Export>