<!--<div class="text-center my-3">
    <h2 class="mb-4">Upload and index a new journal file</h2>
</div>-->

<header class="pb-3 mb-4 border-bottom px-3 pt-3">
  <a  class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">Upload and index new journal file</span>
  </a>
</header>


<div class="container">
    <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
        <ngx-dropzone-label>Drop a journal file!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove(file)" >
            <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>
</div>
<div class="container">
    <form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">User defined name:</label>
                <input class="form-control" type="text" formControlName="name">
                <small class="text-danger" *ngIf="journalForm.get('name')?.invalid && journalForm.get('name')?.touched">
                    Name is required.
                </small>
            </div>
        </div>
        <div class="row mb-3" *ngIf="progress==-1">
            <button type="submit" class="btn btn-primary mx-2" [disabled]="journalForm.invalid">Submit</button>
        </div>

        <div class="row mb-3" *ngIf="progress>-1">
            <p>File Upload In Progress... Please Wait. {{ progress }} %</p>
        </div>
        <div class="row mb-3" *ngIf="progress>-1">
            <div class="col">
            <div style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{progress}}%">{{progress}}%</div>
            </div>
            </div>
        </div>
    </form>
</div>
