<div class="container-fluid" [hidden]="!showFilter">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" >

<!--    <div class="row mb-3" formGroupName="tests" >-->
<!--      <input class="form-control" formControlName="Operator">-->
<!--      <input class="form-control" formControlName="Start">-->
<!--      <input class="form-control" formControlName="End"><br/>-->
<!--      <small class="text-danger" *ngIf="filterForm.get('tests')?.invalid"> &lt;!&ndash;*ngIf="filterForm.get('tests')?.invalid"&ndash;&gt;-->
<!--        {{ filterForm.controls['tests'].errors?.['between'] }}-->
<!--        Invalid range-->
<!--      </small>-->
<!--    </div>-->

    <div class="mb-3 pt-3">
      <label for="form-select-journal" class="form-label">Select an indexed journal file.</label>
    </div>
    <div class="row mb-3">
      <div class="col" formGroupName="File">
        <select id="form-select-journal" class="form-select" aria-label="Default select example"
                formControlName="Value"
                (change)="onSelectJournal()">
          <!--<option selected [value]="">Select an indexed journal</option>-->
          <option></option>
          <option *ngFor="let journal of journals" [value]="journal.ID" > {{ journal.UserDefinedName }}</option>
        </select>
        <small class="text-danger" *ngIf="filterForm.controls['File'].get('Value')?.invalid">
          Select a journal is mandatory.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col" formGroupName="DatabaseName">
        <label for="form-db" class="form-label">Select a database</label>
        <select id="form-db" class="form-select" aria-label="Default select example" formControlName="Value">
          <option></option>
          <option *ngFor="let db of dbList" [value]="db"> {{ db }}</option>
        </select>
      </div>
      <div class="col" formGroupName="GlobalName">
        <label for="form-global" class="form-label">Select a global name</label>
        <select id="form-global" class="form-select" aria-label="Default select example" formControlName="Value">
          <option></option>
          <option *ngFor="let global of globalList" [value]="global"> {{ global }}</option>
        </select>
      </div>
      <div class="col" formGroupName="ProcessID">
        <label for="form-pid" class="form-label">Process ID</label>
        <input type="text" class="form-control" id="form-pid" formControlName="Value">
        <small class="text-danger" *ngIf="filterForm.controls['ProcessID'].get('Value')?.invalid">
          Process ID must be an integer or an empty string.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col" formGroupName="Type">
        <label for="form-journal-type" class="form-label">Journal type</label>
        <select id="form-journal-type" class="form-select" aria-label="Default select example" formControlName="Value">
          <option></option>
          <option *ngFor="let type of journalTypeList" [value]="type"> {{ type }}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label">Timestamp Range</label>
        <div class="input-group mb-3" formGroupName="TimeStamp">
          <input type="text" class="form-control" placeholder="yyyy-mm-dd hh:mm:ss" aria-label="" value="" formControlName="Start">
          <span class="input-group-text" >To</span>
          <input type="text" class="form-control" placeholder="yyyy-mm-dd hh:mm:ss" aria-label="" value="" formControlName="End">
        </div>
        <small class="text-danger" *ngIf="filterForm.controls['TimeStamp'].hasError('between')">
          TimeStamp range is invalid.
        </small>
        <small class="text-danger" *ngIf="filterForm.controls['TimeStamp'].get('Start')?.invalid">
          Start TimeStamp is invalid.
        </small>
        <small class="text-danger" *ngIf="filterForm.controls['TimeStamp'].get('End')?.invalid">
          End TimeStamp is invalid.
        </small>

      </div>
      <div class="col">
        <label class="form-label">Address Range</label>
        <div class="input-group mb-3" formGroupName="Address">
          <input type="text" class="form-control" placeholder="" aria-label="" formControlName="Start">
          <span class="input-group-text">To</span>
          <input type="text" class="form-control" placeholder="" aria-label="" formControlName="End">
        </div>
        <small class="text-danger" *ngIf="filterForm.controls['Address'].hasError('between')">
          Address range is invalid.
        </small>
        <small class="text-danger" *ngIf="filterForm.controls['Address'].get('Start')?.invalid">
          Start Address is invalid.
        </small>
        <small class="text-danger" *ngIf="filterForm.controls['Address'].get('End')?.invalid">
          End Address is invalid.
        </small>
      </div>
    </div>

    <div class="row row-cols-2 mb-3">
      <div class="col" formGroupName="NewValue">
        <label class="form-label">New value filter</label>
        <div class="input-group mb-3">
          <span class="input-group-text" >
            <select class="form-select" formControlName="Operator">
              <option value="">Like</option>
              <option value="=">=</option>
              <option value="between">between</option>
              <option value=">">&gt;</option>
              <option value=">=">&gt;=</option>
              <option value="<">&lt;</option>
              <option value="<=">&lt;=</option>
              <option value="[">contains</option>
            </select>
          </span>
          <input type="text" class="form-control" placeholder="" aria-label="" value="" formControlName="Start">
          <span class="input-group-text" *ngIf="filterForm.controls['NewValue'].get('Operator')?.value==='between'">AND</span>
          <input *ngIf="filterForm.controls['NewValue'].get('Operator')?.value==='between'" type="text" class="form-control" placeholder="" aria-label="" value="" formControlName="End">
          <span class="input-group-text" >@</span>
          <input type="text" class="form-control" placeholder="position in $ListBuild" aria-label="position in $ListBuild" value="" formControlName="Position">
        </div>
        <small class="text-danger" *ngIf="filterForm.controls['NewValue'].get('Position')?.invalid"><p>Position must be an integer.</p></small>
        <small class="text-danger" *ngIf="filterForm.controls['NewValue'].hasError('between')">
          Invalid range.
        </small>
      </div>
      <div class="col" formGroupName="OldValue">
        <label class="form-label">Old value filter</label>
        <div class="input-group mb-3">
          <span class="input-group-text" >
            <select class="form-select" formControlName="Operator">
              <option value="">Like</option>
              <option value="=">=</option>
              <option value="between">between</option>
              <option value=">">&gt;</option>
              <option value=">=">&gt;=</option>
              <option value="<">&lt;</option>
              <option value="<=">&lt;=</option>
              <option value="[">contains</option>
            </select>
          </span>
          <input type="text" class="form-control" placeholder="" aria-label="" value="" formControlName="Start">
          <span class="input-group-text" *ngIf="filterForm.controls['OldValue'].get('Operator')?.value==='between'">AND</span>
          <input *ngIf="filterForm.controls['OldValue'].get('Operator')?.value==='between'" type="text" class="form-control" placeholder="" aria-label="" value="" formControlName="End">
          <span class="input-group-text" >@</span>
          <input type="text" class="form-control" placeholder="position in $ListBuild" aria-label="position in $ListBuild" value="" formControlName="Position">
        </div>
        <small class="text-danger" *ngIf="filterForm.controls['OldValue'].get('Position')?.invalid"><p>Position must be an integer.</p></small>
        <small class="text-danger" *ngIf="filterForm.controls['OldValue'].hasError('between')">
          Invalid range.
        </small>
      </div>
    </div>

    <div class="row row-cols-2">
      <div class="col" formGroupName="SubscriptsSize">
        <label for="form-n-subscript" class="form-label">Number of subscript</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$QLength</span>
          <span class="input-group-text">
            <select class="form-select" formControlName="Operator">
              <option value="=">=</option>
              <option value="between">between</option>
              <option value=">">&gt;</option>
              <option value="<">&lt;</option>
            </select>
          </span>
          <input type="text" id="form-n-subscript" class="form-control" placeholder="" aria-label="" value="" formControlName="Start">
          <span class="input-group-text" *ngIf="filterForm.controls['SubscriptsSize'].get('Operator')?.value==='between'">AND</span>
          <input *ngIf="filterForm.controls['SubscriptsSize'].get('Operator')?.value==='between'" type="text" class="form-control" placeholder="" aria-label="" value="" formControlName="End">
        </div>
        <small class="text-danger" *ngIf="filterForm.controls['SubscriptsSize'].hasError('between')">
          Range is invalid.
        </small>
        <small class="text-danger" *ngIf="filterForm.controls['SubscriptsSize'].get('Start')?.invalid">
          Start position is invalid.
        </small>
        <small class="text-danger" *ngIf="filterForm.controls['SubscriptsSize'].get('End')?.invalid">
          End position is invalid.
        </small>
      </div>

        <div formArrayName="Subscripts" class="col" *ngFor="let sub of control?.value; let i=index;trackBy: trackByFn">
          <label class="form-label">Global Subscript Filter {{ i+1 }}</label>
          <div formGroupName="{{i}}" class="input-group mb-3">
            <span class="input-group-text" *ngIf="i > 0">
              <select class="form-select" formControlName="Logical">
                <option value="AND">AND</option>
                <option value="OR">OR</option>
              </select>
            </span>
            <span class="input-group-text" >$QSubscript</span>
            <input type="text" class="form-control" placeholder="Position" aria-label="Position"
                   formControlName="Position">
            <span class="input-group-text" >
              <select class="form-select" formControlName="Operator">
                <option value="=">=</option>
                <option value="between">between</option>
                <option value=">">&gt;</option>
                <option value=">=">&gt;=</option>
                <option value="<">&lt;</option>
                <option value="<=">&lt;=</option>
                <option value="[">contains</option>
              </select>
            </span>
            <input type="text" class="form-control" placeholder="Search value"
                   aria-label="Search value"  formControlName="Start">
            <span class="input-group-text" *ngIf="sub.Operator === 'between'">AND</span>
            <input type="text" class="form-control" placeholder="" *ngIf="sub.Operator === 'between'"
                   aria-label=""  formControlName="End">
            <button type="button"
                    class="btn btn-outline-secondary"
                    (click)="addSubscriptFilter()"
                    *ngIf="control?.length == (i+1)"
            >Add</button>
            <button type="button" class="btn btn-outline-danger" *ngIf="i > 0" (click)="deleteSubscriptFilter(i)">Delete</button>
          </div>
<!--          <small class="text-danger" *ngIf="control?.controls[i].hasError('between')">-->
<!--            Range is invalid.-->
<!--          </small>-->
      </div>
    </div>

    <div class="row m-1 mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="filterForm.invalid">Search</button>
    </div>
  </form>

</div>
<div class="container-fluid">
  <div class="row m-1 ">
    <button class="btn btn-dark" (click)="showFilter = !showFilter">Show \ Hide filter</button>
  </div>
</div>
