<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRestore" [disabled]="filter?.GlobalName?.Value === ''">Restore</button>

<!-- Modal -->
<div class="modal fade" id="modalRestore" #modalRestore data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Restore - Export Global {{ filter?.GlobalName?.Value }}</h1>
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body text-start">
        <form [formGroup]="restoreForm" *ngIf="!hideForm">

          <div class="row">
            <div class="col">
              <label class="form-label">Redirect</label>
              <div class="input-group mb-3">
                <span class="input-group-text" >{{ filter?.GlobalName?.Value }}</span>
                <span class="input-group-text" >To</span>
                <input type="text" class="form-control" placeholder="ex: restore.{{ filter?.GlobalName?.Value?.substring(1,filter?.GlobalName?.Value?.length) }} (leading ^ will be added automatically)" aria-label="" value="" formControlName="RedirectTo">
              </div>
              <small class="text-danger" *ngIf="restoreForm.controls['RedirectTo'].touched && restoreForm.controls['RedirectTo'].hasError('exists')">
                <p>The global {{ restoreForm.controls['RedirectTo'].value }} already exists.  Please choose another global name.</p>
              </small>
              <small class="text-danger" *ngIf="restoreForm.controls['RedirectTo'].touched && restoreForm.controls['RedirectTo'].hasError('validName')">
                <p>The global name {{ restoreForm.controls['RedirectTo'].value }} is not valid.</p>
              </small>
              <small class="text-danger" *ngIf="restoreForm.controls['RedirectTo'].touched && restoreForm.controls['RedirectTo'].hasError('required')">
                <p>This field is required.</p>
              </small>
              <small class="text-black">Data must be restored to a non existing global to avoid data override mistake.</small>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <label class="form-label">Restore</label>
              <select class="form-select" formControlName="RestoreValue">
                <option value="newvalue">New Value</option>
                <option value="oldvalue">Old Value</option>
              </select>
            </div>
            <small class="text-black">Old value can be restored only if a journal entry operation is a part of a transaction.</small>
          </div>
        </form>


        <div class="row m-4 text-center" *ngIf="state === 'loading'">
          <div class="col text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>

        <div class="alert alert-success text-center" *ngIf="state === 'done'">
          <p>Restore done with success in {{ restoreForm.controls['RedirectTo'].value }}</p>
          <br>
          <p *ngFor="let msg of restoreResponse?.Message">{{ msg }}</p>
        </div>

        <div class="alert alert-danger text-center" *ngIf="state === 'error'">
          <p>An error occurred.</p>
          <p> {{ restoreErrorResponse?.summary }}</p>
        </div>

      </div>
      <div class="modal-footer">
        <button *ngIf="!hideForm" type="button" class="btn btn-secondary" #closeModalButton data-bs-dismiss="modal">Close</button>
        <button *ngIf="!hideForm" type="button" class="btn btn-primary" [disabled]="restoreForm.invalid" (click)="restore()">Restore</button>
        <button *ngIf="(state === 'done') || (state === 'error')"
                type="button" class="btn btn-primary" [disabled]="restoreForm.invalid"
                data-bs-dismiss="modal"
                (click)="reset()">Ok</button>

        <!--        <button type="button" class="btn btn-secondary" (click)="closeModal()">test ref</button>-->
<!--        <button *ngIf="!hideForm" type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="restoreForm.invalid" (click)="export()">Export</button>-->
      </div>
    </div>
  </div>
</div>
