<!--<div class="text-center my-3">
  <h2 class="mb-4">List of indexed journal file</h2>
</div>-->

<header class="pb-3 mb-4 border-bottom px-3 pt-3">
  <a  class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">List of indexed journal file</span>
  </a>
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Name</th>
      <th>First Address</th>
      <th>Last Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let journal of journals">
      <td>{{ journal.Name}}</td>
      <td>{{ journal.UserDefinedName }}</td>
      <td>{{ journal.FirstRecordTS }}</td>
      <td>{{ journal.LastRecordTS }}</td>
      <td>
        <button class="btn btn-sm btn-danger mx-1" (click)="deleteJournals(journal.ID)">Delete</button>
        <button class="btn btn-sm btn-info mx-1" (click)="showStats( journal.ID )">Show Stats</button>
      </td>
    </tr>
  </tbody>
</table>

<ul *ngIf="journals.length; else noJournals">

</ul>
<ng-template #noJournals>
  <p>No indexed journal file available.</p>
</ng-template>

