<!--<div class="text-center my-3">
  <h2 class="mb-4">Indexing Progress</h2>
</div>-->

<header class="pb-3 mb-4 border-bottom px-3 pt-3">
  <a  class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">Indexing Progress</span>
  </a>
</header>


<div class="container">
  <div class="row">
    <div class="col-2"><p class="text-md-start">File :</p></div>
    <div class="col">
      <div class="alert alert-info" role="alert">
        {{ indexerProgression.JournalFile }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2"><p class="text-md-start">Step 1 - file exists:</p></div>
    <div class="col">
      <div class="alert" [class.alert-danger]="!indexerProgression.FileExists" [class.alert-success]="indexerProgression.FileExists" role="alert">
        {{ (indexerProgression.FileExists) ? 'File exists on the server': 'File does not exist on the server!' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><p class="text-md-start">Step 2 - file is valid:</p></div>
    <div class="col">
      <div class="alert" [class.alert-danger]="!indexerProgression.IsValid" [class.alert-success]="indexerProgression.IsValid" role="alert">
        {{ (indexerProgression.IsValid) ? 'Is a valid journal file.': 'Is not a valid journal file!' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><p class="text-md-start">Step 3 - load data:</p></div>
    <div class="col">
      <div style="height: 32px;" class="progress" role="progressbar" aria-label="Example with label" [attr.aria-valuenow]="indexerProgression.Load" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{indexerProgression.Load}}%">{{ indexerProgression.Load }}%</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><p class="text-md-start">Step 4 - flush buffer:</p></div>
    <div class="col">

      <ng-container *ngIf="indexerProgression.Action=='FB'; else fs">
        <div style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
      </ng-container>
      <ng-template #fs>
        <ng-container *ngIf="indexerProgression.Flush=='OK'; else ft">
          <div style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 100%">Done</div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #ft>
        <ng-container *ngIf="indexerProgression.Flush!==''; else ff">
          <div class="alert alert-danger" role="alert">
            {{ indexerProgression.Flush }}
          </div>
        </ng-container>
      </ng-template>
      <ng-template #ff>
        <div *ngIf="indexerProgression.Flush==''" style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0">
          <div class="progress-bar" style="width: 0%"></div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><p class="text-md-start">Step 5 - build indices:</p></div>
    <div class="col">
      <div class="col">

        <ng-container *ngIf="indexerProgression.Action=='BI'; else bs">
          <div style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
          </div>
        </ng-container>
        <ng-template #bs>
          <ng-container *ngIf="indexerProgression.BuildIndices=='OK'; else bt">
            <div style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 100%">Done</div>
            </div>
          </ng-container>
        </ng-template>
        <ng-template #bt>
          <ng-container *ngIf="indexerProgression.BuildIndices!==''; else bf">
            <div class="alert alert-danger" role="alert">
              {{ indexerProgression.Flush }}
            </div>
          </ng-container>
        </ng-template>
        <ng-template #bf>
          <div *ngIf="indexerProgression.BuildIndices==''" style="height: 32px;" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0">
            <div class="progress-bar" style="width: 0%"></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><p class="text-md-start">Result:</p></div>
    <div class="col">
      <ng-container *ngIf="indexerProgression.Message!==''; else noMsg">
        <div class="alert" [class.alert-danger]="indexerProgression.Status=='ERR'" [class.alert-success]="indexerProgression.Status!=='ERR'" role="alert">
          {{ indexerProgression.Message }}
        </div>
      </ng-container>
      <ng-template #noMsg>
        <div class="alert alert-secondary" role="alert"></div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>

</div>

<div class="text-center my-3">
  <button type="button" class="btn btn-dark" [disabled]="(indexerProgression.Status == 'ERR')||(indexerProgression.Status == 'Done')" (click)="refresh()">Refresh</button>

</div>
<ng-template #noData>No Data</ng-template>
