<!--<div class="text-center my-3">
  <h2 class="mb-4">Index a new journal file</h2>
</div>-->

<header class="pb-3 mb-4 border-bottom px-3 pt-3">
  <a  class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">Index a new journal file</span>
  </a>
</header>

<div class="container">
  <form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Path (on the server)
          <a href="#" class="link-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">show list</a>
        </label>
        <input class="form-control" type="text" formControlName="path">
        <small class="text-danger" *ngIf="journalForm.get('path')?.invalid && journalForm.get('path')?.touched">
          Path is required.
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">User defined name:</label>
        <input class="form-control" type="text" formControlName="name">
        <small class="text-danger" *ngIf="journalForm.get('name')?.invalid && journalForm.get('name')?.touched">
          Name is required.
        </small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mx-2" [disabled]="journalForm.invalid">Submit</button>
  </form>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Available journal on the server</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Path</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of serverJournals">
              <td>{{ file }}</td>
              <td>
                <button type="button" class="btn btn-dark mx-2" data-bs-dismiss="modal" (click)="selectFile(file)">Select</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

